@import url(https://fonts.googleapis.com/css?family=Comic+Relief);
@import url(https://fonts.googleapis.com/css?family=Allan);


body {
    background-color: lemonchiffon;
  font-family: 'Comic Relief';
  text-align: center;
}

h1 {
    font-size: 120px;
    text-align: center;
margin: auto;
    color: yellow; 
    font-family: 'Comic Relief';
    border: 10px solid chocolate;
    background-color: gold;
}
h2 {
color: darkorange;
font-family: 'Comic Relief';
text-align: center;
font-size: 60px;
}


p {
font-size: 45px;
    color:goldenrod;
    background-color: khaki;
    border-color: darkgoldenrod;
    border: 10px solid chocolate;
    font-family: 'Comic Relief';
    text-align: left; 
}

h5 {
    font-family: 'Allan';
}

img { 
 border: 10px solid chocolate;
    width: 25%; 
    margin: center;
}